<div class="ui divided list">
  <div class="item" ng-repeat="episode in episodesToWatch.getEpisodes()">
    <img src="{{episode.image}}" alt="">
    <div class="content">
      <div class="header">{{episode.getShowName()}}</div>
      <i class="gray">{{episode.getDate()}}</i><br>
      {{episode.getEpisode()}} {{episode.getEpisodeName()}}
    </div>
  </div>
</div>

<div class="alert error" ng-show="error.isShowing()" ng-click="error.hide()">
  <h1>
    {{ error.getHeader() }}
  </h1>
  <ul class="ul list">
    <li ng-repeat="msg in error.getMesage()">
      {{msg}}
    </li>
  </ul>
</div>
