<div ng-repeat="collection in episodeCollections">
  <h2 ng-show="collection.getHeadline()">
    {{collection.getHeadline()}}
  </h2>
  <div class="ui divided list">
    <div class="item" ng-repeat="episode in collection.getEpisodes()">
      <img ng-src="{{episode.image}}" alt="">
      <div class="content">
        <div class="header">{{episode.getShowName()}}</div>
        <i class="gray">{{episode.getDate()}}</i><br>
        {{episode.getEpisode()}} {{episode.getEpisodeName()}}
      </div>
    </div>
  </div>
</div>
