<!DOCTYPE html>

<html lang="en" ng-app="EHM">
<head>
  <meta charset="utf-8" />
  <meta name="format-detection" content="telephone=no" />
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi, user-scalable=no" />
  <link rel="stylesheet" type="text/css" href="bower_components/semantic/build/packaged/css/semantic.css">
  <link rel="stylesheet" type="text/css" href="css/base.css" />
  <link rel="stylesheet" type="text/css" href="css/login.css" />
  <link rel="stylesheet" type="text/css" href="css/index.css" />
  <title>EpisodeHunter</title>
</head>
<body class="{{bodyClass}}">
  <div id="iosstatusbar"></div>
  <div id="header">
    <div class="show-menu">
      <i class="list square inverted large layout icon"></i>
    </div>
    <h1>{{headLine}}</h1>
    <div class="refresh" ng-show="refresh">
      <i class="refresh square inverted large layout icon" ng-click="refresh()"></i>
    </div>
  </div>

  <div class="ui teal vertical sidebar menu">
    <a class="item" ng-class="{active: menu.isActive('upcoming')}" ng-click="menu.set('upcoming')">
      <i class="home icon"></i>
      Upcoming
    </a>
    <a class="item" ng-class="{active: menu.isActive('episodestowatch')}" ng-click="menu.set('episodestowatch')">
      <i class="play icon"></i>
      Episodes to Watch
    </a>
    <a class="item" ng-class="{active: menu.isActive('rating')}" ng-click="menu.set('rating')">
      <i class="heart icon"></i>
      Rating
    </a>
    <a class="item" ng-class="{active: menu.isActive('history')}" ng-click="menu.set('history')">
      <i class="book icon"></i>
      History
    </a>
    <a class="item" href="#/logout">
      <i class="lock icon"></i>
      Logout
    </a>
  </div>
  <div id="father">
    <div id="view" ng-view></div>
    <div class="alert error" ng-show="error.isShowing()" ng-click="error.hide()">
      <h1>
        {{ error.getHeader() }}
      </h1>
      <ul class="ul list">
        <li ng-repeat="msg in error.getMesage()">
          {{msg}}
        </li>
      </ul>
    </div>
  </div>


<!-- PhoneGap -->
<!-- <script type="text/javascript" src="phonegap.js"></script> -->

<!-- Bower -->
<script type="text/javascript" src="/bower_components/jquery/dist/jquery.js"></script>
<script type="text/javascript" src="/bower_components/imgcache.js/js/imgcache.js"></script>
<script type="text/javascript" src="/bower_components/angular/angular.js"></script>
<script type="text/javascript" src="/bower_components/angular-route/angular-route.js"></script>
<script type="text/javascript" src="/bower_components/semantic/build/packaged/javascript/semantic.js"></script>

<!-- App -->
<script type="text/javascript" src="/js/app.js"></script>

<!-- Lib -->
<script type="text/javascript" src="/js/lib/auth.js"></script>
<script type="text/javascript" src="/js/lib/error.js"></script>
<script type="text/javascript" src="/js/lib/global.js"></script>
<script type="text/javascript" src="/js/lib/menu.js"></script>
<script type="text/javascript" src="/js/lib/storage.js"></script>
<script type="text/javascript" src="/js/lib/imageCache.js"></script>

<!-- Controllers -->
<script type="text/javascript" src="/js/controller/LoginController.js"></script>
<script type="text/javascript" src="/js/controller/LogoutController.js"></script>
<script type="text/javascript" src="/js/controller/UpcomingController.js"></script>
<script type="text/javascript" src="/js/controller/EpisodesToWatchController.js"></script>

<!-- Repositories -->
<script type="text/javascript" src="/js/repositories/upcomingRepositorie.js"></script>

<!-- Model -->
<script type="text/javascript" src="/js/model/episodeCollection.js"></script>

<!-- Mock -->
<!-- Only use in early development  -->
<script type="text/javascript" src="/bower_components/angular-mocks/angular-mocks.js"></script>


<script type="text/javascript">
  //app.initialize();

  //Keyboard.shrinkView(true);
  $(function() {
    var $sidebar = $('.sidebar');
    $('.show-menu').click(function() {
      $sidebar
        .sidebar({
          overlay: true
        })
        .sidebar('show')
      ;
    });
    $('#father').click(function() {
      if ($sidebar.sidebar('is open')) {
        $sidebar.sidebar('hide');
      }
    });
  });
</script>
</body>
</html>
